extends layout

include theme-partial

block content
  div(id="char-shelf")
    div(id="char-header")
    div(id="theme-shelf")
      +theme(null)
      +theme(null)
      +theme(null)
      +theme(null)