include tag-partial

mixin theme(theme)
  div(class="theme-card mythos-card")
    div(class="theme-card-header")
      p=theme.type
      i
    div(class="theme-card-title")
      p=theme.title
    div(class="theme-card-tracks")
      div(class="attention-track")
        i
        i
        i
        p Attention
      div(class="fade-track")
        i
        i
        i
        p Fade
    div(class="theme-card-mystery")
      p(class="theme-title") Mystery
      p #{theme["identity-mystery"]}
    div(class="theme-card-power-tags")
      p(class="theme-title") Power Tags
      each tag in theme["power-tags"]
        +tag(tag)
    div(class="theme-card-weakness-tags")
      p(class="theme-title") Weakness Tags
      each tag in theme["weakness-tags"]
        +tag(tag)