#themebook-form {
	display: flex;
	flex-direction: column;
	width: 80%;
	border: 2px solid black;

	&__header {
		padding: 10px;
		border-bottom: 2px solid black;
	}

	&__panes {
		display: flex;
		border-bottom: 2px solid black;

		&__left-pane {
			border-right: 2px solid black;

			&__examples {
				border-bottom: 2px solid black;
			}
		}

		&__middle-pane {
			display: flex;
		}

		&__right-pane {
			border-left: 2px solid black;
		}
	}
}